body {
  background-image: url("../images/black.jpg");
}
#header h1 {
  position: absolute;
  left: 420px;
  top:5px;
  font-size: 3em;
  font-family: 'Devonshire', cursive;
  color: #E35335;
}
#main-nav {
  float: left;
  width: 100%;
  background-color: #333;
}